.title {
    text-align: center;
    margin: 0;
    background-image: linear-gradient(135deg, #df441d, #cd691c);
    border: black 1px solid;
    border-radius: 2rem;
    margin-top: 1rem;
}

.title p {
    font-size: 1.2rem;
    color: rgb(40,40,40);
}

.date {
    font-size: 1.3rem;
    color: rgba(82, 32, 189, 0.838);
    background-image: linear-gradient(135deg, #5adf1d95, #1c4ecdaf);
    border: black 1px solid;
    border-radius: 2rem;
    margin-top: 1rem;
    display: inline-block;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
}